# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: test build

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["*"]

jobs:
  build:
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      max-parallel: 6
      matrix:
        config:
          - { python-version: 3.8, os: ubuntu-latest }
          - { python-version: 3.9, os: ubuntu-latest }
          - { python-version: "3.10", os: ubuntu-latest }
          - { python-version: 3.8, os: macos-latest }
          - { python-version: 3.9, os: macos-latest }
          - { python-version: "3.10", os: macos-latest }
      runs-on: ${{ matrix.config.os }}
    env:
      TZ: UTC
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.config.python-version }}
          cache: "pip"
          cache-dependency-path: |
            **/pyproject.toml
      - name: Install
        run: |
          python -m pip install .
        shell: bash {0}
